body {
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
    color: #333;
    margin: 0;
    padding: 0;
}

header {
    background-color: #8B4513; /* Cor de fundo marrom */
    color: white;
    padding: 20px;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav a {
    color: white;
    text-decoration: none;
}

h2 {
    color: #8B4513; /* Cor de destaque */
}

.produto {
    border: 1px solid #ddd;
    margin: 15px;
    padding: 10px;
    background-color: white;
    display: inline-block;
    width: 200px;
    text-align: center;
}

.produto img {
    max-width: 100%;
}

.produto label, .produto select {
    margin-top: 10px;
    display: block;
}

footer {
    background-color: #8B4513; /* Cor de fundo marrom */
    color: white;
    text-align: center;
    padding: 10px;
    position: relative;
    bottom: 0;
    width: 100%;
}
