/* Estilo Global */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #2C3E50;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}

header h1 {
    margin: 0;
}

.search-bar input {
    padding: 5px;
    margin-right: 5px;
}

.search-bar button {
    padding: 6px;
    cursor: pointer;
}

.cart button {
    background-color: #FFC107;
    color: #2C3E50;
    border: none;
    padding: 8px 12px;
    cursor: pointer;
}

main {
    padding: 20px;
}

.banner {
    text-align: center;
    background-color: #f4f4f4;
    padding: 20px;
    margin-bottom: 20px;
}

.products {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.product-card {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 15px;
    width: calc(33.333% - 40px);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
}

.product-card:hover {
    transform: scale(1.05);
}

.product-card img {
    width: 100%;
    height: auto;
    border-bottom: 1px solid #ddd;
    margin-bottom: 10px;
}

.product-card h3 {
    margin: 10px 0;
}

.product-card select, .product-card button {
    margin-top: 5px;
    padding: 8px 12px;
    width: 100%;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #2C3E50;
    color: white;
}